{% extends "base.html" %}
{% block content %}

<hr>


 <div class="jumbotron">
        <h1>Welcome to E-Liquid!!!</h1>
        <p class="lead">We are blahblah explain what E-Liquid is about here. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <a class="btn btn-large btn-success" href="/index">Start Now</a>
        <a class="btn btn-large btn-info" href="{{ url_for('contact') }}">Send us an Email!</a>
      </div>

      <hr>

        <div class="col-md-3 col-sm-3">
           <div class="thumbnail">
                    <img src="http://mentalfloss.com/sites/default/files/styles/article_640x430/public/151928658.jpg" alt="">
  
          <h4>Allen</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
          </div>
          </div>

           <div class="col-md-3 col-sm-3">
           <div class="thumbnail">
                    <img src="http://mentalfloss.com/sites/default/files/styles/article_640x430/public/151928658.jpg" alt="">
  
          <h4>Jack</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
          </div>



        </div>
        
        
        
 
        
        
        

      <div class="col-md-3 col-sm-3 ">
           <div class="thumbnail">
                    <img src="http://mentalfloss.com/sites/default/files/styles/article_640x430/public/151928658.jpg" alt="">
  
          <h4>Michelle</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
          </div>
          </div>
        <div class="col-md-3 col-sm-3">
           <div class="thumbnail">
                    <img src="http://mentalfloss.com/sites/default/files/styles/article_640x430/public/151928658.jpg" alt="">
  
          <h4>Vivian</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
          </div>
        </div>
      </div>
{% endblock %}

