{% if user is defined %}
             <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail">
                   
                    <div class="caption">
                        <h3>{{ user.username }}</h3>
                        <p>{{ user.email }} </p>
                        <p>
<!-- 
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
 -->
                        </p>
                    </div>
                </div>
            </div>
{% endif %}
        

{% if product is defined %}

            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="{{ product.p_picture }}" alt="">
                    <div class="caption">
                        <h3>{{ product.users.username }}</h3>
                        <p>{{ product.p_name }} for ${{ product.p_price}}</p>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>

{% endif %}